## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>
<%def name="title()">
    ${_('Public Journal')}
    %if c.rhodecode_name:
        &middot; ${h.branding(c.rhodecode_name)}
    %endif
</%def>
<%def name="breadcrumbs()">
    ${h.branding(c.rhodecode_name)}
</%def>
<%def name="menu_bar_nav()">
    ${self.menu_items(active='journal')}
</%def>
<%def name="head_extra()">
<link href="${h.url('public_journal_atom')}" rel="alternate" title="${_('ATOM public journal feed')}" type="application/atom+xml" />
<link href="${h.url('public_journal_rss')}" rel="alternate" title="${_('RSS public journal feed')}" type="application/rss+xml" />
</%def>
<%def name="main()">

<div class="box">
  <!-- box / title -->
  <div class="title">
    <h5>${_('Public Journal')}</h5>
      <ul class="links">
     <li>
       <span>
         <a href="${h.url('public_journal_atom')}"> <i class="icon-rss-sign" ></i></a>
       </span>
     </li>
     </ul>
  </div>

  <div id="journal">${c.journal_data}</div>
</div>

</%def>
