## -*- coding: utf-8 -*-
<%!
   def inherit(context):
      if context['c'].repo:
        return "/admin/repos/repo_edit.html"
      else:
        return "/admin/settings/settings.html"
%>
<%inherit file="${inherit(context)}" />

<%def name="title()">
    ${_('Integrations settings')}
    %if c.rhodecode_name:
        &middot; ${h.branding(c.rhodecode_name)}
    %endif
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))}
    &raquo;
    ${_('Integrations')}
</%def>

<%def name="menu_bar_nav()">
  %if c.repo:
    ${self.menu_items(active='repositories')}
  %else:
    ${self.menu_items(active='admin')}
  %endif
</%def>

<%def name="menu_bar_subnav()">
  %if c.repo:
    ${self.repo_menu(active='options')}
  %endif
</%def>

<%def name="main_content()">
  ${next.body()}
</%def>
