## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

## don't trigger flash messages on this page
<%def name="flash_msg()">
</%def>

<%def name="title()">
    ${_('%s Creating repository') % c.repo_name}
    %if c.rhodecode_name:
        &middot; ${h.branding(c.rhodecode_name)}
    %endif
</%def>

<%def name="breadcrumbs_links()">
    ${_('Creating repository')} ${c.repo}
</%def>

<%def name="menu_bar_nav()">
    ${self.menu_items(active='repositories')}
</%def>
<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>

    <div id="progress-message">
        ${_('Repository "%(repo_name)s" is being created, you will be redirected when this process is finished.' % {'repo_name':c.repo_name})}
    </div>

    <div id="progress">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar" role="progressbar"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
    </div>
</div>
</%def>

<script>
(function worker() {
  var skipCheck = false;
  var url = "${h.url('repo_check_home', repo_name=c.repo_name, repo=c.repo, task_id=c.task_id)}";
  $.ajax({
    url: url,
    complete: function(resp) {
        if (resp.status == 200) {
            var jsonResponse = resp.responseJSON;

            if (jsonResponse === undefined){
                setTimeout(function(){
                    // we might have a backend problem, try dashboard again
                    window.location = "${h.url('summary_home', repo_name = c.repo)}";
                }, 1000);
            }

            if (skipCheck || jsonResponse.result === true) {
                // success, means go to dashboard
                window.location = "${h.url('summary_home', repo_name = c.repo)}";
            } else {
                // Schedule the next request when the current one's complete
                setTimeout(worker, 1000);
            }
        }
        else {
            window.location = "${h.url('home')}";
        }
    }
  });
})();
</script>
