## -*- coding: utf-8 -*-
##
## See also repo_settings.html
##
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('%s repository settings') % c.repo_info.repo_name}
    %if c.rhodecode_name:
        &middot; ${h.branding(c.rhodecode_name)}
    %endif
</%def>

<%def name="breadcrumbs_links()">
    ${_('Settings')}
</%def>

<%def name="menu_bar_nav()">
    ${self.menu_items(active='repositories')}
</%def>

<%def name="menu_bar_subnav()">
    ${self.repo_menu(active='options')}
</%def>


<%def name="main()">
<div class="box">
  <div class="title">
      ${self.repo_page_title(c.rhodecode_db_repo)}
      ${self.breadcrumbs()}
  </div>

  <div class="sidebar-col-wrapper scw-small">
    ##main
    <div class="sidebar">
        <ul class="nav nav-pills nav-stacked">
          <li class="${'active' if c.active=='settings' else ''}">
              <a href="${h.url('edit_repo', repo_name=c.repo_name)}">${_('Settings')}</a>
          </li>
          <li class="${'active' if c.active=='permissions' else ''}">
              <a href="${h.url('edit_repo_perms', repo_name=c.repo_name)}">${_('Permissions')}</a>
          </li>
          <li class="${'active' if c.active=='advanced' else ''}">
              <a href="${h.url('edit_repo_advanced', repo_name=c.repo_name)}">${_('Advanced')}</a>
          </li>
          <li class="${'active' if c.active=='vcs' else ''}">
              <a href="${h.url('repo_vcs_settings', repo_name=c.repo_name)}">${_('VCS')}</a>
          </li>
          <li class="${'active' if c.active=='fields' else ''}">
              <a href="${h.url('edit_repo_fields', repo_name=c.repo_name)}">${_('Extra Fields')}</a>
          </li>
          <li class="${'active' if c.active=='issuetracker' else ''}">
              <a href="${h.url('repo_settings_issuetracker', repo_name=c.repo_name)}">${_('Issue Tracker')}</a>
          </li>
          <li class="${'active' if c.active=='caches' else ''}">
              <a href="${h.url('edit_repo_caches', repo_name=c.repo_name)}">${_('Caches')}</a>
          </li>
          %if c.repo_info.repo_type != 'svn':
          <li class="${'active' if c.active=='remote' else ''}">
              <a href="${h.url('edit_repo_remote', repo_name=c.repo_name)}">${_('Remote')}</a>
          </li>
          %endif
          <li class="${'active' if c.active=='statistics' else ''}">
              <a href="${h.url('edit_repo_statistics', repo_name=c.repo_name)}">${_('Statistics')}</a>
          </li>
        </ul>
    </div>

    <div class="main-content-full-width">
        <%include file="/admin/repos/repo_edit_${c.active}.html"/>
    </div>

  </div>
</div>

</%def>
