<%def name="refs(commit)">
    %if commit.merge:
        <span class="mergetag tag">
         ${_('merge')}
        </span>
    %endif

    %if h.is_hg(c.rhodecode_repo):
        %for book in commit.bookmarks:
            <span class="booktag tag" title="${_('Bookmark %s') % book}">
              <a href="${h.url('files_home',repo_name=c.repo_name,revision=commit.raw_id)}"><i class="icon-bookmark"></i>${h.shorter(book)}</a>
            </span>
        %endfor
    %endif

    %for tag in commit.tags:
        <span class="tagtag tag"  title="${_('Tag %s') % tag}">
            <a href="${h.url('files_home',repo_name=c.repo_name,revision=commit.raw_id)}"><i class="icon-tag"></i>${tag}</a>
        </span>
    %endfor

    %if commit.branch:
        <span class="branchtag tag" title="${_('Branch %s') % commit.branch}">
          <a href="${h.url('files_home',repo_name=c.repo_name,revision=commit.raw_id)}"><i class="icon-code-fork"></i>${h.shorter(commit.branch)}</a>
        </span>
    %endif

</%def>
