
<div id="codeblock" class="browserblock">
    <div class="browser-header">
        <div class="browser-nav">
            ${h.form(h.url.current(), method='GET', id='at_rev_form')}
            <div class="info_box">
              ${h.hidden('refs_filter')}
              <div class="info_box_elem previous">
                    <a id="prev_commit_link" data-commit-id="${c.prev_commit.raw_id}" class="pjax-link ${'disabled' if c.url_prev == '#' else ''}" href="${c.url_prev}" title="${_('Previous commit')}"><i class="icon-chevron-left"></i></a>
              </div>
              <div class="info_box_elem">${h.text('at_rev',value=c.commit.revision)}</div>
              <div class="info_box_elem next">
                    <a id="next_commit_link" data-commit-id="${c.next_commit.raw_id}" class="pjax-link ${'disabled' if c.url_next == '#' else ''}" href="${c.url_next}" title="${_('Next commit')}"><i class="icon-chevron-right"></i></a>
              </div>
            </div>
            ${h.end_form()}

            <div id="search_activate_id" class="search_activate">
               <a class="btn btn-default" id="filter_activate" href="javascript:void(0)">${_('Search File List')}</a>
            </div>
            <div id="search_deactivate_id"  class="search_activate hidden">
               <a class="btn btn-default" id="filter_deactivate" href="javascript:void(0)">${_('Close File List')}</a>
            </div>
            % if h.HasRepoPermissionAny('repository.write','repository.admin')(c.repo_name):
              <div title="${_('Add New File')}" class="btn btn-primary new-file">
                <a href="${h.url('files_add_home',repo_name=c.repo_name,revision=c.commit.raw_id,f_path=c.f_path, anchor='edit')}">
                    ${_('Add File')}</a>
              </div>
            % endif
        </div>

        <div class="browser-search">
            <div class="node-filter">
                <div class="node_filter_box hidden" id="node_filter_box_loading" >${_('Loading file list...')}</div>
                <div class="node_filter_box hidden" id="node_filter_box" >
                    <div class="node-filter-path">${h.get_last_path_part(c.file)}/</div>
                    <div class="node-filter-input">
                        <input class="init" type="text" name="filter" size="25" id="node_filter" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="browser-body">
        <table class="code-browser rctable">
            <thead>
                <tr>
                    <th>${_('Name')}</th>
                    <th>${_('Size')}</th>
                    <th>${_('Modified')}</th>
                    <th>${_('Last Commit')}</th>
                    <th>${_('Author')}</th>
                </tr>
            </thead>

            <tbody id="tbody">
              %if c.file.parent:
              <tr class="parity0">
                <td class="td-componentname">
                  <a href='${h.url('files_home',repo_name=c.repo_name,revision=c.commit.raw_id,f_path=c.file.parent.path)}' class="pjax-link">
                    <i class="icon-folder"></i>..
                  </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              %endif
              %for cnt,node in enumerate(c.file):
              <tr class="parity${cnt%2}">
                <td class="td-componentname">
                %if node.is_submodule():
                  <span class="submodule-dir">
                    ${h.link_to_if(
                        node.url.startswith('http://') or node.url.startswith('https://'),
                        node.name,node.url)}
                  </span>
                %else:
                  <a href='${h.url('files_home',repo_name=c.repo_name,revision=c.commit.raw_id,f_path=h.safe_unicode(node.path))}' class="pjax-link">
                    <i class="${"icon-file browser-file" if node.is_file() else "icon-folder browser-dir"}"></i>${node.name}
                  </a>
                %endif
                </td>
                %if node.is_file():
                  <td class="td-size" title="${'size-%s' % node.name}"></td>
                  <td class="td-time" title="${'modified_at-%s' % node.name}">
                    <span class="browser-loading">${_('Loading...')}</span>
                  </td>
                  <td class="td-hash" title="${'revision-%s' % node.name}"></td>
                  <td class="td-user" title="${'author-%s' % node.name}"></td>
                %else:
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                %endif
              </tr>
              %endfor
            </tbody>
            <tbody id="tbody_filtered"></tbody>
        </table>
    </div>
</div>

<script>
    var source_page = false;
</script>
