<%
 elems = [
    ## general
    (_('RhodeCode Enterprise version'), h.literal('%s <div class="link" id="check_for_update" >%s</div>' % (c.rhodecode_version, _('check for updates'))), ''),
    (_('Upgrade info endpoint'), h.literal('%s <br/><span >%s.</span>' % (c.rhodecode_update_url, _('Note: please make sure this server can access this url'))), ''),
    (_('Configuration INI file'), c.rhodecode_config_ini, ''),
    ## systems stats
    (_('RhodeCode Enterprise Server IP'), c.server_ip, ''),
    (_('RhodeCode Enterprise Server ID'), c.server_id, ''),
    (_('Platform'), c.platform, ''),
    (_('Uptime'), c.uptime_age, ''),
    (_('Storage location'), c.storage, ''),
    (_('Storage disk space'), "%s/%s, %s%% used%s" % (h.format_byte_size_binary(c.disk['used']), h.format_byte_size_binary(c.disk['total']),(c.disk['percent']), ' %s' % c.disk['error'] if 'error' in c.disk else ''), ''),

    (_('Search index storage'), c.index_storage, ''),
    (_('Search index size'), "%s %s" % (h.format_byte_size_binary(c.disk_index['used']), ' %s' % c.disk_index['error'] if 'error' in c.disk_index else ''), ''),

    (_('Gist storage'), c.gist_storage, ''),
    (_('Gist storage size'), "%s (%s items)%s" % (h.format_byte_size_binary(c.disk_gist['used']),c.disk_gist['items'], ' %s' % c.disk_gist['error'] if 'error' in c.disk_gist else ''), ''),

    (_('Archive cache'), h.literal('%s <br/><span >%s.</span>' % (c.archive_storage, _('Enable this by setting archive_cache_dir=/path/to/cache option in the .ini file'))), ''),
    (_('Archive cache size'), "%s%s" % (h.format_byte_size_binary(c.disk_archive['used']), ' %s' % c.disk_archive['error'] if 'error' in c.disk_archive else ''), ''),

    (_('System memory'), c.system_memory, ''),
    (_('CPU'), '%s %%' %(c.cpu), ''),
    (_('Load'), '1min: %s, 5min: %s, 15min: %s' %(c.load['1_min'],c.load['5_min'],c.load['15_min']), ''),

    ## rhodecode stuff
    (_('Python version'), c.py_version, ''),
    (_('Python path'), c.py_path, ''),
    (_('GIT version'), c.git_version, ''),
    (_('HG version'), c.hg_version, ''),
    (_('SVN version'), c.svn_version, ''),
    (_('Database'), "%s @ version: %s" % (c.db_type, c.db_migrate_version), ''),
    (_('Database version'), c.db_version, ''),

 ]
%>

<div id="update_notice" style="display: none; margin: -40px 0px 20px 0px">
    <div>${_('Checking for updates...')}</div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">${_('System Info')}</h3>
        % if c.allowed_to_snapshot:
            <a href="${url('admin_settings_system', snapshot=1)}" class="panel-edit">${_('create snapshot')}</a>
        % endif
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal settings">
        %for dt, dd, tt in elems:
          <dt>${dt}:</dt>
          <dd title="${tt}">${dd}</dd>
        %endfor
        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">${_('Python Packages')}</h3>
    </div>
    <div class="panel-body">
        <table class="table">
          <colgroup>
              <col class='label'>
              <col class='content'>
          </colgroup>
          <tbody>
              %for key, value in c.py_modules:
                  <tr>
                      <td>${key}</td>
                      <td>${value}</td>
                  </tr>
              %endfor
          </tbody>
        </table>
    </div>
</div>

<script>
    $('#check_for_update').click(function(e){
        $('#update_notice').show();
        $('#update_notice').load("${h.url('admin_settings_system_update')}");
    })
</script>
