## -*- coding: utf-8 -*-
<%inherit file="/debug_style/index.html"/>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Style'), h.url('debug_style_home'))}
    &raquo;
    ${c.active}
</%def>


<%def name="real_main()">
    <div class="box">
        <div class="title">
            ${self.breadcrumbs()}
        </div>

        <div class='sidebar-col-wrapper'>
        ${self.sidebar()}

        <div class="main-content">

            <h2>Gravatars</h2>

            <p>Usernames are always centered on an avatar to the left. 
                Avatars are 16px square.
                For user settings/login, some exceptions may use a larger avatar.
                Use base.gravatar for a gravatar only, and base.gravatar_with_user
                for a gravatar with a username.
                Use the format below:
            </p>
            <div class="bs-example template-example">
                <div class="gravatar_with_user">
                    <img class="gravatar" alt="gravatar" src="https://secure.gravatar.com/avatar/72706ebd30734451af9ff3fb59f05ff1?d=identicon&amp;s=16">
                    <span title="Lolek Santos <lolek@rhodecode.com>" class="user">Lolek</span>
                </div>
            </div>
            <div class="bs-example template-example">
<xmp>$</xmp><xmp>{base.gravatar_with_user(c.rhodecode_user.email, 16)}</xmp>
            </div>
            <div class="bs-example template-example">
                <div class="gravatar_with_user">
                    <img class="gravatar gravatar-large" alt="gravatar" src="https://secure.gravatar.com/avatar/72706ebd30734451af9ff3fb59f05ff1?d=identicon&amp;s=30">
                    <span title="Lolek Santos <lolek@rhodecode.com>" class="user">Lolek</span>
                </div>
            </div>
            <div class="bs-example template-example">
<xmp>$</xmp><xmp>{base.gravatar_with_user(c.rhodecode_user.email, 30)}</xmp>
            </div>
            <p class="help-block">Note: Actual template variables may be different.</p>

            <h2>Icon List</h2>


            <table id="icons-list">
                  <tr class="row">
                    <td title="Code: 0xe800" class="the-icons span3"><i class="icon-plus"></i> <span class="i-name">icon-plus</span><span class="i-code">0xe800</span></td>
                    <td title="Code: 0xe801" class="the-icons span3"><i class="icon-minus"></i> <span class="i-name">icon-minus</span><span class="i-code">0xe801</span></td>
                    <td title="Code: 0xe802" class="the-icons span3"><i class="icon-remove"></i> <span class="i-name">icon-remove</span><span class="i-code">0xe802</span></td>
                    <td title="Code: 0xe803" class="the-icons span3"><i class="icon-bookmark"></i> <span class="i-name">icon-bookmark</span><span class="i-code">0xe803</span></td>
                  </tr>
                  <tr class="row">
                    <td title="Code: 0xe804" class="the-icons span3"><i class="icon-branch"></i> <span class="i-name">icon-branch</span><span class="i-code">0xe804</span></td>
                    <td title="Code: 0xe805" class="the-icons span3"><i class="icon-tag"></i> <span class="i-name">icon-tag</span><span class="i-code">0xe805</span></td>
                    <td title="Code: 0xe806" class="the-icons span3"><i class="icon-lock"></i> <span class="i-name">icon-lock</span><span class="i-code">0xe806</span></td>
                    <td title="Code: 0xe807" class="the-icons span3"><i class="icon-unlock"></i> <span class="i-name">icon-unlock</span><span class="i-code">0xe807</span></td>
                  </tr>
                  <tr class="row">
                    <td title="Code: 0xe808" class="the-icons span3"><i class="icon-delete"></i> <span class="i-name">icon-delete</span><span class="i-code">0xe808</span></td>
                    <td title="Code: 0xe808" class="the-icons span3"><i class="icon-false"></i> <span class="i-name">icon-false</span><span class="i-code">0xe808</span></td>
                    <td title="Code: 0xe809" class="the-icons span3"><i class="icon-ok"></i> <span class="i-name">icon-ok</span><span class="i-code">0xe809</span></td>
                    <td title="Code: 0xe809" class="the-icons span3"><i class="icon-true"></i> <span class="i-name">icon-true</span><span class="i-code">0xe809</span></td>
                  </tr>
                  <tr class="row">
                    <td title="Code: 0xe80c" class="the-icons span3"><i class="icon-right"></i> <span class="i-name">icon-right</span><span class="i-code">0xe80c</span></td>
                    <td title="Code: 0xe80d" class="the-icons span3"><i class="icon-left"></i> <span class="i-name">icon-left</span><span class="i-code">0xe80d</span></td>
                    <td title="Code: 0xe80e" class="the-icons span3"><i class="icon-arrow_down"></i> <span class="i-name">icon-arrow_down</span><span class="i-code">0xe80e</span></td>
                    <td title="Code: 0xe80f" class="the-icons span3"><i class="icon-git"></i> <span class="i-name">icon-git</span><span class="i-code">0xe80f</span></td>
                  </tr>
                  <tr class="row">
                    <td title="Code: 0xe810" class="the-icons span3"><i class="icon-hg"></i> <span class="i-name">icon-hg</span><span class="i-code">0xe810</span></td>
                    <td title="Code: 0xe811" class="the-icons span3"><i class="icon-svn"></i> <span class="i-name">icon-svn</span><span class="i-code">0xe811</span></td>
                    <td title="Code: 0xe812" class="the-icons span3"><i class="icon-group"></i> <span class="i-name">icon-group</span><span class="i-code">0xe812</span></td>
                    <td title="Code: 0xe813" class="the-icons span3"><i class="icon-folder"></i> <span class="i-name">icon-folder</span><span class="i-code">0xe813</span></td>
                  </tr>
                  <tr class="row">
                    <td title="Code: 0xe814" class="the-icons span3"><i class="icon-fork"></i> <span class="i-name">icon-fork</span><span class="i-code">0xe814</span></td>
                    <td title="Code: 0xe815" class="the-icons span3"><i class="icon-more"></i> <span class="i-name">icon-more</span><span class="i-code">0xe815</span></td>
                    <td title="Code: 0xe80a" class="the-icons span3"><i class="icon-comment"></i> <span class="i-name">icon-comment</span><span class="i-code">0xe80a</span></td>
                    <td title="Code: 0xe80b" class="the-icons span3"><i class="icon-feed"></i> <span class="i-name">icon-feed</span><span class="i-code">0xe80b</span></td>
                  </tr>
                </div>
            </table>
        </div>
      </div>
    </div>
</%def>