## -*- coding: utf-8 -*-
<%inherit file="/debug_style/index.html"/>


<%def name="breadcrumbs_links()">
    ${h.link_to(_('Style'), h.url('debug_style_home'))}
    &raquo;
    ${c.active}
</%def>


<%def name="real_main()">
  <div class="box">
    <div class="title">
        ${self.breadcrumbs()}
    </div>

    ##main
    <div class='sidebar-col-wrapper'>
    ${self.sidebar()}

      <div class="main-content">


        <div class="bs-example pull-left">

          <div id="quick_login">
            <h4>${_('Sign in to your account')}</h4>

            ${h.form(h.url('login_home',came_from=h.url.current()), needs_csrf_token=False)}
            <div class="form form-vertical">
                <div class="fields">

                    <div class="field">
                        <div class="label">
                            <label for="username">${_('Username')}:</label>
                        </div>
                        <div class="input">
                            ${h.text('username',class_='focus',tabindex=1)}
                        </div>
                    </div>

                    <div class="field">
                        <div class="label">
                            <label for="password">${_('Password')}:</label>
                            <span class="forgot_password">${h.link_to(_('(Forgot password?)'),h.url('reset_password'))}</span>
                        </div>
                        <div class="input">
                            ${h.password('password',class_='focus',tabindex=2)}
                        </div>
                    </div>

                    <div class="buttons">
                        <div class="register">
                        %if h.HasPermissionAny('hg.admin', 'hg.register.auto_activate', 'hg.register.manual_activate')():
                         ${h.link_to(_("Don't have an account ?"),h.url('register'))}
                        %endif
                        </div>
                        <div class="submit">
                            ${h.submit('sign_in',_('Sign In'),class_="btn btn-small",tabindex=3)}
                        </div>
                    </div>

                </div>
            </div>
            ${h.end_form()}
          </div>

        </div>
      </div>
    </div>
  </div>

</%def>
