<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">${_('Change Your Account Password')}</h3>
  </div>
  ${h.secure_form(url('my_account_password'), method='post')}
  <div class="panel-body">
      <div class="fields">
       <div class="field">
          <div class="label">
              <label for="current_password">${_('Current Password')}:</label>
          </div>
          <div class="input">
              ${h.password('current_password',class_='medium',autocomplete="off")}
          </div>
       </div>

       <div class="field">
          <div class="label">
              <label for="new_password">${_('New Password')}:</label>
          </div>
          <div class="input">
              ${h.password('new_password',class_='medium', autocomplete="off")}
          </div>
       </div>

       <div class="field">
          <div class="label">
              <label for="password_confirmation">${_('Confirm New Password')}:</label>
          </div>
          <div class="input">
              ${h.password('new_password_confirmation',class_='medium', autocomplete="off")}
          </div>
       </div>

          <div class="buttons">
            ${h.submit('save',_('Save'),class_="btn")}
            ${h.reset('reset',_('Reset'),class_="btn")}
          </div>
      </div>
  </div>
  ${h.end_form()}
</div>