<%namespace file="/base/social_buttons.html" import="render_social_buttons"/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">${_('Oauth Identities')}</h3>
    </div>
    <div class="panel-body">
        <p>
            ${_('External services currently connected with your Rhodecode user')}.
        </p>

        <p>

            % if not c.social_plugins:
            ${_('No social authentication plugins are enabled by administrator')}.
            %endif

            ${render_social_buttons(c.social_plugins)}
        </p>

        % if c.user_oauth_tokens:

        <table class="rctable oauth-accounts">
            <thead>
                <tr>
                    <th class="td-provider">
                        Provider
                    </th>
                    <th class="td-account">
                        Account
                    </th>
                    <th class="td-action">

                    </th>
                </tr>
            </thead>
            <tbody>
            % for token in c.user_oauth_tokens:
                <tr>
                    <td class="td-provider">
                        ${token.provider_name}
                    </td>
                    <td class="td-account">
                        ${token.external_username}
                    </td>
                    <td class="td-action">
                        ${h.secure_form(url('my_account_oauth', provider_name=token.provider_name, external_id=token.external_id), method='delete')}
                        <button class="btn btn-link btn-danger" type="submit"
                                onclick="return confirm('${_('Confirm to remove this provider from your account')}');">
                            ${_('Delete')}
                        </button>
                        ${h.end_form()}
                    </td>
                </tr>
            % endfor
            </tbody>
        </table>
        % else:
        <p>${_('You have no accounts linked yet')}.</p>
        % endif
    </div>
</div>
